body{
  font-family: sans-serif;
  background-color: #706760;
  
}

h1{
    text-align: center;
    
    
}
h2{
    text-align: center;
    
    
    
    
}
h3{
    text-align: center;
}
a{
    background-color: #5F5496;
    text-decoration: none;
    color:#39EB36;
    padding:10px;
    margin:10px;
    border-radius: 10px;
    width:200px;
}






/*Зроби цей сайт красивим 😉*/
